################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/OpenGlTests/.vs/OpenGlTests/v16
/OpenGlTests/.vs/OpenGlTests/v15
